<div class="defaultTerminalText">Attempts left: 4 ****(WIP)</div>

@code {
  [Parameter]
  public Attempts attempts { get; set; }
  @* protected override void OnInitialized()
{
attempts = new Attempts();
} *@
}