<div class="defaultTerminalText">
  @attempts.attemptsLeft Attempt(s) left:
  @for (int i = 0; i < attempts.attemptsLeft; i++)
  {
    <span>■ </span>
  }
</div>

@code {
  [Parameter]
  public Attempts attempts { get; set; }
}