<div class="grid-item imgDiv">
  <img class="cellImg" src="Images/TicTacToe/xSprite.png" alt="O">
</div>
<style>
  .cellImg {
    width: 75%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .imgDiv {
    justify-content: center;
    position: relative;
  }
</style>
@code {
  [Parameter]
  public GameCell Cell { get; set; }
}