<div class="grid-item imgDiv" @onclick="Clicked">
  @switch ((thisGameCell as IGameCell).State)
  {
    case Cell.X:
      {
        <img class="cellImg" src="Images/TicTacToe/xSprite.png" alt="X">
        break;
      }
    case Cell.O:
      {
        <img class="cellImg" src="Images/TicTacToe/oSprite.png" alt="O">
        break;
      }
    case Cell.None:
      {
        break;
      }
  }
</div>
@code {
  [Parameter]
  public GameCell thisGameCell { get; set; }
  [Parameter]
  public EventCallback OnClick { get; set; }

  void Clicked()
  {
    if ((thisGameCell as IGameCell).State != Cell.None)
    {
      return;
    }
  (thisGameCell as IGameCell).OccupySelf(TTTGameManager.GetPlayerAndMove());
    OnClick.InvokeAsync();
  }
}