<div class="defaultTerminalDiv">
  @for (int y = 0; y < thisColumn.columnByElements.GetLength(1); y++)
  {
    <p>
      @for (int x = 0; x < thisColumn.columnByElements.GetLength(0); x++)
      {
        <ElementComponent column="@thisColumn" element="@thisColumn.columnByElements[x,y]" OnElementHover="RefreshData" />
      }
    </p>
  }
</div>

@code {
  [Parameter]
  public Column thisColumn { get; set; }
  protected override void OnInitialized()
  {
    @* thisColumn = new Column(width, height, wordLength, wordAmount, Constants.GenerateRandomWords(wordAmount,
wordLength), hintAmount, 1); *@
  }
  void RefreshData()
  {
    StateHasChanged(); // Force component refresh
  }
}