<label @onmouseover="OnHover" @onclick="ElementClicked" class="@element.currentState">@element.value</label>

@code {
  [Parameter]
  public Element element { get; set; }
  [Parameter]
  public Column column { get; set; }
  [Parameter]
  public EventCallback OnElementHover { get; set; }
  [Parameter]
  public EventCallback OnElementClicked { get; set; }
  public void OnHover()
  {
    column.SelectElement(element);
    OnElementHover.InvokeAsync();
  }
  public void ElementClicked()
  {
    Console.WriteLine("clicked");
    column.clickedElement = element;
    OnElementClicked.InvokeAsync();
  }
}