<div class="game">
  <AttemptsComoponent />
  <div class="inlineDiv defaultTerminalText">
    <ColumnComponent />
    <AddressesComoponent />
    <ColumnComponent />
    <AddressesComoponent />
    <LoggerComponent />
  </div>
</div>