@page "/"
@inject NavigationManager NavigationManager
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header class="default-div">
  <div>
    <h1>This is tortoise501's playground</h1>
  </div>
</header>
<div class="default-div">
  <div>
    <p>On this site you can find different projects made by me using Blazor WebAssembly</p>
  </div>
</div>
<article>
  <div class="article-head">
    <h2>Fallout Terminal Game</h2>
  </div>
  <div class="inlineDiv game-preview">
    <div class="rules">
      <p>In this game, you are presented with two columns containing a mix of symbols and words. Your objective is to
        identify the correct word from one of the columns. Be careful, as there's only one correct word hidden within
        the options. If you click on the wrong word, a log will appear on the rigth side of the screen, indicating how
        many letters are in the correct position compared to the actual word. To assist you, hints are represented by
        pairs of parentheses, each enclosed within a specific type, including: { }, [ ], ( ), &lt;, and &gt;.</p>
      <button @onclick="GoFT" class="play-game-button">
        Play Fallout terminal game
      </button>
    </div>
    <div class="img-div">
      <img alt="originalFTimg" src="Images/Index/FalloutTerminalOriginal.jpg">
      <img alt="originalFTimg" src="Images/Index/FalloutTerminalMy.jpg">
    </div>
  </div>
  <div class="description">
    <p>This is the same game you play in Fallout(3, New Vegas, 4 or 76) when you hack terminals. You can find more
      information about this game on <a href="https://fallout.fandom.com/wiki/Hacking">Fallout wiki</a> site.</p>
  </div>
</article>


<article>
  <div class="article-head">
    <h2>Super TicTacToe</h2>
  </div>
  <div class="inlineDiv game-preview">
    <div class="rules">
      <p>SUPER Tic-Tac-Toe combines nine smaller Tic-Tac-Toe games into one. The player starts by placing their symbol
        on any small board. From then on, players can only place their symbol in cells of the small game that correspond
        to the cell in which the last move was made. If a small board is full, you can choose any other available small
        board. A player wins if they win the bigger board by occupying three small games in a row with their symbol.</p>
      <button @onclick="GoTTT" class="play-game-button">
        Play Super TicTacToe
      </button>
    </div>
    <div class="img-div">
      <img alt="TTT1" src="Images/Index/TTT1.jpg">
    </div>
  </div>
  <div class="description">
    <p>This game was inspired by <a href="https://www.youtube.com/watch?v=_Na3a1ZrX7c">this Vsause video</a>.</p>
  </div>
</article>
<hr>
<footer>
  <p>Useful links:<a href="https://github.com/tortoise501/tortoise501-Blazor-projects" class="fa fa-github"></a>
  </p>
</footer>
@code {
  public void GoFT()
  {
    NavigationManager.NavigateTo("/FCIWA");
  }
  public void GoTTT()
  {
    NavigationManager.NavigateTo("/TicTacToe");
  }
}

<style>
  .fa {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
  }

  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }

  footer {
    height: 100px;
  }

  hr {
    color: var(--primary);
  }

  .default-div {
    background-color: var(--primary);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: var(--margin1);
  }

  .default-div h1 {
    margin: auto;
  }

  .default-div div {
    padding: 10px;
    background-color: var(--secondary);
    border-radius: 10px;
    display: flex;
  }


  :root {
    font-family: monospace;
    --text: rgb(0, 0, 0);
    --background: rgb(254, 243, 236);
    --primary: rgb(194, 118, 71);
    --secondary: rgb(238, 235, 205);
    --accent: rgb(180, 60, 74);

    --link-text: rgb(53, 40, 40);
    --link-hover: rgb(112, 54, 54);

    --margin1: 20px;
    --margin2: 10px;
    font-size: 25px;
  }

  body {
    background-color: var(--background);
  }




  .article-head {
    background-color: var(--secondary);
    border-radius: 10px;
    text-align: center;
    padding: 2px;
    margin-bottom: var(--margin2);
  }

  article {
    width: auto;
    background-color: var(--primary);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: var(--margin1);
  }

  .img-div {
    margin-left: var(--margin2);
    padding: 10px;
    background-color: var(--secondary);
    border-radius: 10px;
    right: 0px;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
  }

  article img {
    width: 500px;
    height: auto;
    outline-color: var(--accent);
    border-radius: 10px;
    outline-style: solid;
    outline-width: 7px;
    margin: auto;
  }

  .game-preview {
    width: auto;
    border-radius: 10px;
    margin-bottom: var(--margin2);
    display: flex;
    flex-direction: row;
  }

  .rules {
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
  }

  .description {
    border-radius: 10px;
    padding: 10px;
    background-color: var(--secondary);
    width: auto;
  }

  .play-game-button {
    margin-top: auto;
    padding: 0px 10px 0px 10px;
    margin-right: auto;
    height: 50px;
    color: black;
    font-size: large;
    border-radius: 10px;
    background-color: var(--secondary);
    border-style: none;
    box-shadow: 1px 1px 3px black;
  }

  .play-game-button:hover {
    background-color: var(--accent);
  }

  a {
    color: var(--link-text);
  }

  a:hover {
    color: var(--link-hover);
  }
</style>