@page "/TicTacToe"
<div class="grid-container">
  @foreach (IGameCell cell in (SuperGrid as IGameGrid).Cells)
  {
    <SmallGameComponent SmallGrid="@(cell as SmallGame)" />
    @* <p>ok</p> *@
  }
</div>
<style>
  .grid-container {
    --length: min(calc(90vh), calc(90vw));
    width: var(--length);
    height: var(--length);
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    gap: 3%;
    user-select: none;
  }

  .inner-grid-container {
    background-color: black;
    gap: 3%;
    width: 100%;
    height: 100%;
  }

  .grid-item {
    background-color: white;
    text-align: center;
    width: 100%;
    height: 100%;
  }
</style>

@code {
  SuperGameGrid SuperGrid;
  protected override void OnInitialized()
  {
    SmallGame[] smallGames = new SmallGame[9];
    for (int i = 0; i < smallGames.Length; i++)
    {
      GameCell[] cells = new GameCell[9];
      for (int j = 0; j < smallGames.Length; j++)
      {
        cells[j] = new GameCell();
      }
      smallGames[i] = new SmallGame(cells);
    }
    SuperGrid = new SuperGameGrid(smallGames);
  }
}