.hoveredElement {
  background-color: green;
  color: black;
}

.unhoveredElement {
  background-color: black;
  color: green;
}

.inlineDiv {
  display: inline-flex;
}

.defaultTerminalText {
  font-family: monospace;
  background-color: black;
  color: green;
  user-select: none;
}

.noMargin {
  margin-right: 0px !important;
}

body {
  background-color: rgb(218, 201, 201);
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
}