.hoveredElement {
  background-color: green;
  color: black;
}

.unhoveredElement {
  background-color: black;
  color: green;
}

.inlineDiv {
  display: inline-flex;
}

.defaultTerminalText {
  font-family: monospace;
  background-color: black;
  color: green;
  user-select: none;
}

.defaultTerminalDiv {
  line-height: 0.2;
  /* padding: 5px; */
  /* padding-right: var(--adaptive-padding-size); */
  margin-right: var(--adaptive-padding-size);
}

.noMargin {
  margin-right: 0px;
}

.game {
  background-color: black;
  outline-color: green;
  outline-style: solid;
  outline-width: 10px;
  margin: auto;
  --game-width: 50vw;
  --number-of-symbols: 60;
  width: var(--game-width);
  --adaptive-font-size: calc((var(--game-width)/(var(--number-of-symbols))*2));
  --adaptive-padding-size: calc(var(--adaptive-font-size) / 2);
  font-size: calc(var(--adaptive-font-size));
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
}