.inlineDiv {
  display: inline-flex;
}


.noMargin {
  margin-right: 0px !important;
}

.gameOverText {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

body {
  /* background-color: rgb(218, 201, 201); */
  color: rgb(39, 12, 12);
}

.horizontal-center-item {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.horizontal-center-container {
  background-color: white;
  justify-content: center;
  position: relative;
}